In [1]:
# import libraries
import re
import os
import numpy as np
import pandas as pd
import requests
import json 
from pandas.io.json import json_normalize
from requests.auth import HTTPBasicAuth
from getpass import getpass
import this

os.getcwd()
os.listdir()

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

['virusds.ipynb',
 'Untitled.ipynb',
 'README.md',
 'virusds.csv',
 '.ipynb_checkpoints']

In [2]:
# loading ds into dataframe
virus = pd.read_csv("virusds.csv")

In [11]:
virus
virus.shape
virus.describe

<bound method NDFrame.describe of      Sno                 Date   Province/State Country          Last Update  \
0      1  01/22/2020 12:00:00            Anhui   China  2020-01-22 12:00:00
1      2  01/22/2020 12:00:00          Beijing   China  2020-01-22 12:00:00
2      3  01/22/2020 12:00:00        Chongqing   China  2020-01-22 12:00:00
3      4  01/22/2020 12:00:00           Fujian   China  2020-01-22 12:00:00
4      5  01/22/2020 12:00:00            Gansu   China  2020-01-22 12:00:00
..   ...                  ...              ...     ...                  ...
695  696  02/03/2020 21:40:00       Boston, MA      US  2020-01-02 19:43:00
696  697  02/03/2020 21:40:00  Los Angeles, CA      US  2020-01-02 19:53:00
697  698  02/03/2020 21:40:00       Orange, CA      US  2020-01-02 19:53:00
698  699  02/03/2020 21:40:00      Seattle, WA      US  2020-01-02 19:43:00
699  700  02/03/2020 21:40:00        Tempe, AZ      US  2020-01-02 19:43:00

     Confirmed  Deaths  Recovered
0          1.0     0.0        0.0
1         14.0     0.0        0.0
2          6.0     0.0        0.0
3          1.0     0.0        0.0
4          0.0     0.0        0.0
..         ...     ...        ...
695        1.0     0.0        0.0
696        1.0     0.0        0.0
697        1.0     0.0        0.0
698        1.0     0.0        0.0
699        1.0     0.0        0.0

[700 rows x 8 columns]>

In [4]:
# checking how prevalent missing values are in the data
# defining a function to check null values and null values %:
def null_cols(ds):
    """check whether the value in each field is missing (null) and return either 
    True or False for each field, totaling up the number of True values by column."""
    return ds.isnull().sum()

def na_cols(ds):
    """Does the same as null_cols, but returns the value as a percentage. 
    Useful to decide where to drop."""
    return ds.isna().mean().round(4) * 100

In [5]:
null_cols = null_cols(virus)
na_cols = na_cols(virus)

In [6]:
# 164 in Provice/State
null_cols

Sno                 0
Date                0
Province/State    164
Country             0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
dtype: int64

In [7]:
# Province/State 23,43% null valls
na_cols

Sno                0.00
Date               0.00
Province/State    23.43
Country            0.00
Last Update        0.00
Confirmed          0.00
Deaths             0.00
Recovered          0.00
dtype: float64

In [9]:
# Adding a condition that will filter the data and show us only columns where the number 
# of null values were greater than zero for each dataset:

null_cols[null_cols > 0]

Province/State    164
dtype: int64

In [43]:
# Checking Unique entries per colum:
[col + ": " + str(len(virus[col].unique())) + " uniques" for col in virus]

['Sno: 700 uniques',
 'Date: 13 uniques',
 'Province/State: 57 uniques',
 'Country: 31 uniques',
 'Last Update: 92 uniques',
 'Confirmed: 183 uniques',
 'Deaths: 15 uniques',
 'Recovered: 36 uniques']

In [25]:
virus

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,2020-01-22 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,2020-01-22 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,2020-01-22 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,2020-01-22 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,2020-01-22 12:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
695,696,02/03/2020 21:40:00,"Boston, MA",US,2020-01-02 19:43:00,1.0,0.0,0.0
696,697,02/03/2020 21:40:00,"Los Angeles, CA",US,2020-01-02 19:53:00,1.0,0.0,0.0
697,698,02/03/2020 21:40:00,"Orange, CA",US,2020-01-02 19:53:00,1.0,0.0,0.0
698,699,02/03/2020 21:40:00,"Seattle, WA",US,2020-01-02 19:43:00,1.0,0.0,0.0
699,700,02/03/2020 21:40:00,"Tempe, AZ",US,2020-01-02 19:43:00,1.0,0.0,0.0

In [44]:
""""
DON'T RUN THIS CELL YET!!!
"""

"""
# Judgement call: droping information that we don't think it's going to be very useful 
# to our analysis (removing those columns from your datasets) with the drop method.
# We will add these column names to a list, and then we will pass those columns to the 
# drop method and indicate that we want columns (not rows) dropped by setting the axis 
# parameter to 1.

# defining a function to create a list:
def drop_cols(bad_cols):
    """Adding col names to a list to be droped; in this case as long as the col has a 
    single null value in it, since, in this case, if it has one, their all null."""
    return list(bad_cols[bad_cols > 0].index)

# Droping the columns with null values is (always?) a judgment call. 
# In a discussion on analyticsvidhya.com 
# (what-should-be-the-allowed-percentage-of-missing-values/2456), the sugestion is to drop
# after the 30% ceiling has been reached. Still, it will depend.

# For starters I'll check what entities have the missing values and what don't;
missing = merged.loc[(merged["ViewCount"].notna() != True)]
"""

SyntaxError: invalid syntax (<ipython-input-44-8797fbef0908>, line 10)