In [12]:
import GetOldTweets3 as got
import pandas as pd
import csv
import tweepy

In [13]:
#accessing twitter
API_KEY = "MX5o2MunEoqgUKd1DLhPmWzVS"
API_SECRET = "IwiEJ13PUkHtRUzQUAyz8Tq7AdX0yIhSlaxQxhSEMTRy6fm05q"
ACCESS_TOKEN = "1223292053184008195-HaMZR7eK0RHH3PzrPspNKndwZnais8"
ACCESS_TOKEN_SECRET = "jTBPAztCMJPo1zsrCjvrecKBTWaTmRJ4vQiaYRh5tmdkP"

auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [122]:
#extracting tweets via API
text_query = 'corona virus'
since_date = '2020-01-21'
until_date = '2020-02-02'
user = 'WHO'
count = 10000000000000
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setUsername(user).setSince(since_date).setUntil(until_date).setMaxTweets(count)
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
text_tweets = [[tweet.date, tweet.text, tweet.retweets] for tweet in tweets]

In [123]:
#text_tweets

In [124]:
#turning the list into a dataframe
tweetsdf = pd.DataFrame(text_tweets)

In [125]:
tweetsdf

,0,1,2
0,2020-01-30 20:11:47+00:00,The full statement by @DrTedros on IHR Emergen...,669
1,2020-01-30 18:10:27+00:00,WHO is proposing ‘2019-nCoV’ as an interim nam...,159
2,2020-01-30 18:08:54+00:00,Public health efforts are targeted at limiting...,98
3,2020-01-30 18:07:29+00:00,"To date, new #coronavirus (2019-nCoV) person-t...",804
4,2020-01-30 17:06:10+00:00,Q: How are people appointed to the expert advi...,21
...,...,...,...
115,2020-01-22 11:26:33+00:00,The International Health Regulations Emergency...,820
116,2020-01-21 21:41:05+00:00,"Today, the #UnitedStates reported its first ca...",708
117,2020-01-21 21:01:55+00:00,"On 20 January 2020, Republic of #Korea reporte...",108
118,2020-01-21 20:29:21+00:00,WHO situation report on novel #coronavirus (20...,593
119,2020-01-21 19:05:42+00:00,List of proposed members and advisers to Inter...,86

In [126]:
#adding columns names
tweetsdf.columns = ['Date','Tweet', 'Retweet']

In [127]:
#sorting values by date
tweetsdf.sort_values('Date', inplace=True)
tweetsdf.head(40)

,Date,Tweet,Retweet
119,2020-01-21 19:05:42+00:00,List of proposed members and advisers to Inter...,86
118,2020-01-21 20:29:21+00:00,WHO situation report on novel #coronavirus (20...,593
117,2020-01-21 21:01:55+00:00,"On 20 January 2020, Republic of #Korea reporte...",108
116,2020-01-21 21:41:05+00:00,"Today, the #UnitedStates reported its first ca...",708
115,2020-01-22 11:26:33+00:00,The International Health Regulations Emergency...,820
114,2020-01-22 11:39:33+00:00,"Dr Didier Houssin, chairperson of the Internat...",64
113,2020-01-22 13:25:46+00:00,The Emergency Committee on the new #coronaviru...,233
112,2020-01-22 13:36:27+00:00,Q: What are the International Health Regulatio...,31
111,2020-01-22 13:39:55+00:00,Q: How does the International Health Regulatio...,28
110,2020-01-22 13:47:11+00:00,Q: Who are the members of an International Hea...,21
109,2020-01-22 13:50:14+00:00,Q: Who are the members and advisers of the Int...,28
108,2020-01-22 13:52:58+00:00,Q: How are the members of an International Hea...,23
107,2020-01-22 13:56:15+00:00,Q: How are people appointed to the expert advi...,20
106,2020-01-22 14:58:55+00:00,WHO interim guidance on a range of topics to h...,718
105,2020-01-22 15:05:27+00:00,WHO is providing information to countries on h...,198
104,2020-01-22 15:11:01+00:00,WHO interim guidance: Laboratory testing of hu...,67
103,2020-01-22 15:14:17+00:00,WHO interim guidance: Infection prevention and...,93
102,2020-01-22 15:21:47+00:00,WHO interim guidance: Surveillance case defini...,51
101,2020-01-22 15:29:07+00:00,WHO interim guidance: Risk communication and c...,47
100,2020-01-22 15:34:55+00:00,WHO tool for national authorities to review t...,58
99,2020-01-22 16:13:40+00:00,WHO draft list of supplies needed for laborat...,55
98,2020-01-22 16:17:08+00:00,WHO interim guidance: Clinical management - ho...,88
97,2020-01-22 16:22:42+00:00,WHO recommendations to reduce risk of transmis...,58
96,2020-01-22 19:50:46+00:00,LIVE: Press conference on the Emergency Commit...,2528
95,2020-01-22 19:53:45+00:00,"""This is an evolving and complex situation. I’...",89
94,2020-01-22 19:54:22+00:00,"""I was very impressed by the detail and depth ...",79
93,2020-01-22 19:54:51+00:00,"""His leadership and the intervention of Presid...",100
92,2020-01-22 19:56:22+00:00,"""The decision about whether or not to declare ...",144
91,2020-01-22 19:56:48+00:00,"""Our team in #China working with local experts...",52
90,2020-01-22 20:01:51+00:00,The Emergency Committee on the new #coronaviru...,266
89,2020-01-22 20:08:17+00:00,The 2019-nCoV is a new virus. Identification a...,178
88,2020-01-22 20:10:20+00:00,The full statement by @DrTedros on IHR Emergen...,124
87,2020-01-22 20:12:08+00:00,Public health actions do not begin at the decl...,145
86,2020-01-22 20:42:07+00:00,WHO is coordinating research collaboration on ...,54
85,2020-01-22 20:45:44+00:00,The Emergency Committee on the new #Coronaviru...,223
84,2020-01-23 11:04:43+00:00,Stay healthy while travelling! Avoid travellin...,811
83,2020-01-23 11:17:32+00:00,The International Health Regulations Emergency...,566
82,2020-01-23 11:42:24+00:00,Stay healthy while travelling! Avoid close con...,166
81,2020-01-23 12:10:25+00:00,Stay healthy while travelling! When coughing &...,178
80,2020-01-23 13:25:04+00:00,The International Health Regulations Emergency...,203

In [129]:
tweetsdf['Date'] = pd.to_datetime(tweetsdf['Date'])
tweetsdf['Date'] = [d.date() for d in tweetsdf['Date']]
tweetsdf.head(200)

           Date                                              Tweet  Retweet
119  2020-01-21  List of proposed members and advisers to Inter...       86
118  2020-01-21  WHO situation report on novel #coronavirus (20...      593
117  2020-01-21  On 20 January 2020, Republic of #Korea reporte...      108
116  2020-01-21  Today, the #UnitedStates reported its first ca...      708
115  2020-01-22  The International Health Regulations Emergency...      820
..          ...                                                ...      ...
4    2020-01-30  Q: How are people appointed to the expert advi...       21
3    2020-01-30  To date, new #coronavirus (2019-nCoV) person-t...      804
2    2020-01-30  Public health efforts are targeted at limiting...       98
1    2020-01-30  WHO is proposing ‘2019-nCoV’ as an interim nam...      159
0    2020-01-30  The full statement by @DrTedros on IHR Emergen...      669

[120 rows x 3 columns]

In [161]:
tweetsdf.head(200)

           Date                                    Tweet  Retweet
119  2020-01-21  List of proposed members and adviser...       86
118  2020-01-21  WHO situation report on novel #coron...      593
117  2020-01-21  On 20 January 2020, Republic of #Kor...      108
116  2020-01-21  Today, the #UnitedStates reported it...      708
115  2020-01-22  The International Health Regulations...      820
..          ...                                      ...      ...
4    2020-01-30  Q: How are people appointed to the e...       21
3    2020-01-30  To date, new #coronavirus (2019-nCoV...      804
2    2020-01-30  Public health efforts are targeted a...       98
1    2020-01-30  WHO is proposing ‘2019-nCoV’ as an i...      159
0    2020-01-30  The full statement by @DrTedros on I...      669

[120 rows x 3 columns]

In [131]:
#condensing dates and adding up the number of retweets
condense = lambda a: "/".join(a) 
finalds = tweetsdf.groupby(by='Date').agg({'Tweet': condense, 'Retweet': 'sum'}).reset_index()

In [149]:
finalds

         Date                                    Tweet  Retweet
0  2020-01-21  List of proposed members and adviser...     1495
1  2020-01-22  The International Health Regulations...     6683
2  2020-01-23  Stay healthy while travelling! Avoid...    10806
3  2020-01-25  WHO’s risk assessment of the new #co...     4939
4  2020-01-26  @Benzie135 Hi. Thank you for your qu...     3832
5  2020-01-27  Current estimates of the new #corona...    12862
6  2020-01-28  WHO Director-General @DrTedros today...     3219
7  2020-01-29  Live from Geneva on the new #coronav...     5200
8  2020-01-30  The International Health Regulations...     2985

In [148]:
pd.set_option('max_colwidth', 40)

In [160]:
finalds

         Date                                    Tweet  Retweet
0  2020-01-21  List of proposed members and adviser...     1495
1  2020-01-22  The International Health Regulations...     6683
2  2020-01-23  Stay healthy while travelling! Avoid...    10806
3  2020-01-25  WHO’s risk assessment of the new #co...     4939
4  2020-01-26  @Benzie135 Hi. Thank you for your qu...     3832
5  2020-01-27  Current estimates of the new #corona...    12862
6  2020-01-28  WHO Director-General @DrTedros today...     3219
7  2020-01-29  Live from Geneva on the new #coronav...     5200
8  2020-01-30  The International Health Regulations...     2985

In [191]:
[tweetsdf['Date'].value_counts()]

[2020-01-23    34
 2020-01-22    31
 2020-01-27    15
 2020-01-30    12
 2020-01-28    10
 2020-01-29     8
 2020-01-26     5
 2020-01-21     4
 2020-01-25     1
 Name: Date, dtype: int64]

In [215]:
df_val_counts = pd.DataFrame(tweetsdf['Date'].value_counts())
df_val_counts

            Date
2020-01-23    34
2020-01-22    31
2020-01-27    15
2020-01-30    12
2020-01-28    10
2020-01-29     8
2020-01-26     5
2020-01-21     4
2020-01-25     1

In [216]:
df_val_counts['Dates'] = df_val_counts.index
df_val_counts.reset_index(level=0, inplace=True)
df_val_counts

        index  Date       Dates
0  2020-01-23    34  2020-01-23
1  2020-01-22    31  2020-01-22
2  2020-01-27    15  2020-01-27
3  2020-01-30    12  2020-01-30
4  2020-01-28    10  2020-01-28
5  2020-01-29     8  2020-01-29
6  2020-01-26     5  2020-01-26
7  2020-01-21     4  2020-01-21
8  2020-01-25     1  2020-01-25

In [221]:
df_val_counts.drop('index',1)

   Date       Dates
0    34  2020-01-23
1    31  2020-01-22
2    15  2020-01-27
3    12  2020-01-30
4    10  2020-01-28
5     8  2020-01-29
6     5  2020-01-26
7     4  2020-01-21
8     1  2020-01-25

In [222]:
df_val_counts.sort_values(by='Dates')

        index  Date       Dates
7  2020-01-21     4  2020-01-21
1  2020-01-22    31  2020-01-22
0  2020-01-23    34  2020-01-23
8  2020-01-25     1  2020-01-25
6  2020-01-26     5  2020-01-26
2  2020-01-27    15  2020-01-27
4  2020-01-28    10  2020-01-28
5  2020-01-29     8  2020-01-29
3  2020-01-30    12  2020-01-30

In [224]:
finalds['Tweet'] = df_val_counts['Date']

In [235]:
finalds.columns = ['date', 'tweets', 'retweets']
finalds

         date  tweets  retweets
0  2020-01-21      34      1495
1  2020-01-22      31      6683
2  2020-01-23      15     10806
3  2020-01-25      12      4939
4  2020-01-26      10      3832
5  2020-01-27       8     12862
6  2020-01-28       5      3219
7  2020-01-29       4      5200
8  2020-01-30       1      2985